
.auth-cont {
    background-color: #26253bd8;
    width: 25vw;
    min-height: 400px;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-bottom: 150px;
    padding: 63px;
}

.login-form {
    display: flex;
    flex-direction: column;
}