.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 6px;
    width: 100%;
    /* justify-content: space-between; */
}

.calendar-weekday {
    text-align: center;
    padding: 10px 0;
}

.empty-div {
    width: 211px;
    height: 335px;
    background-color: #222135d8;
}