.custom-slider-container {
    width: 500px;
    padding: 40px 0;
    position: relative;
}

.custom-slider-container p {
    padding-bottom: 30px;
}

.slider-wrapper {
    position: relative;
    margin-left: 10px;
}

.slider-tooltip {
    transform: translateX(-50%);
    position: absolute;
    background-color: #663829;
    color: #fff;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    white-space: nowrap;
    pointer-events: none;
}

.tooltip-left {
    top: 25px;
}

.tooltip-right {
    top: -28px;
}

.rc-slider-step {
    height: 8px;
}

.rc-slider-mark{
    padding-top: 8px;
}

.rc-slider-mark-text-active {
    color: #d6d6d6;
    font-size: 14px;
}

.rc-slider-handle-dragging {
    outline: none !important;
    /* Убираем обводку */
    box-shadow: none !important;
    /* Убираем тень */
    border-color: #b14a24 !important;
    background-color: #b14a24 !important;
}

.rc-slider-handle:focus {
    box-shadow: none !important;
}

.rc-slider-handle:hover {
    border-color: #b14a24 !important;
    background-color: #b14a24 !important;
}