.main-content {
    display: flex;
    justify-content: center;
}

.container {
    background-color: #26253bd8;
    width: 80vw;
    min-height: 300px;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-bottom: 150px;
    padding: 63px;
}

.background-image {
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top;
    z-index: -1;
}