.card-game-calendar {
    width: 211px;
    height: 335px;
}

.card-game-calendar .card-top {
    display: flex;
    flex-direction: column;

    height: 235px;
    background-color: #4c4774;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    position: relative;
}

.card-game-calendar .button-add {
    display: flex;
    width: 15px;
    height: 15px;
    background-color: #ff7f50d7;
    border-radius: 6px;
    padding: 7px;
    cursor: pointer;
    position: relative;
}

.card-game-calendar .day-add {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

.card-game-calendar .card-media {
    position: absolute;
    width: 100%;
    height: 100%;
}

.card-game-calendar img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-game-calendar .card-bottom {
    display: flex;
    flex-direction: column;
    width: 211px;
    height: 100px;
    background-color: #343052;
    border-radius: 0 0 10px 10px;
}

.NumberofDay {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
    background-color: #343052d2;
    border-radius: 5px;
    padding: 5px;
    /* margin: 20px 0 15px 20px; */
    position: relative;
}

.card-game-calendar .name-game {
    font-size: 18px;
    position: relative;
}

.card-game-calendar .switchers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 6px 0 6px;
    margin-top: 40px;
    position: relative;
    user-select: none;
    font-size: 21px;
}

.card-game-calendar .switchers .left {
    display: flex;
    align-items: center;
    background-color: #343052e8;
    border-radius: 20px;
    padding: 6px 7px;
    cursor: pointer;
}

.card-game-calendar .switchers .right {
    display: flex;
    align-items: center;
    background-color: #343052e8;
    border-radius: 20px;
    padding: 6px 7px;
    cursor: pointer;
}

.card-game-calendar .card-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-game-calendar .info {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

.card-game-calendar .amount-games {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3px;
    margin-bottom: 5px;
}

.card-game-calendar .dot {
    width: 6px;
    height: 6px;
    background-color: #dbdbdb;
    border-radius: 50%;
    
  }
