.container * {
    transition: all 0.3s ease;
}


.container .filters-block h3 {
    font-size: 25px;
}

.container .list-games-grid {
    display: flex;
    justify-content: center;
    margin-top: 40px; 
}   

.filters-block .filters{
    display: flex;
    flex-direction: row;
}

.filters-sort .found {
    font-size: 16px;
}

.search-bar input {
    margin-top: 15px;
    padding: 10px;
    background-color: #fffaf3;
    width: 42%;
    border: none;
    font-size: 18px;
    
}

.load-more {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.load-more-button {
    border: none;
    width: 140px;
    height: 40px;
    font-size: 16px;
    gap: 15px;
    background-color: #ee6736;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.load-more-button:hover {
    background-color: #b4522f;
}