
.container .filters-block h3 {
    font-size: 25px;
}

.container .list-games-grid {
    display: flex;
    justify-content: center;
    margin-top: 63px; 
}   

.filters-block .filters{
    display: flex;
    flex-direction: row;
}

.filters-block .checkbox-blocks {
    display: flex;
    flex-direction: row;
}