 .header {
     background: #1b1b2f;
     padding: 25px 0 25px 0;
     display: flex;
     justify-content: center;
     /* position: fixed; */

 }

 .content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    font-size: 18px;
 }

.content-header img {
    width: 165px;
    height: auto;
}

 .center {
     display: flex;
     flex-direction: row;
     align-items: center;
 }

 .navigation a {
     margin: 0 10px;
     color: rgb(255, 255, 255);
     text-decoration: none;
 }

 .search-bar input {
     padding: 10px;
     margin-left: 15px;
     border-radius: 15px;
     border: none;
 }

 .right a {
     margin-left: 1.8vw;
     color: white;
     text-decoration: none;
 }